@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Faster+One');

//mine
$family-secondary: "Faster One", sans-serif;
$info: rgb(80, 5, 165);

// Update Bulma's global variables



@import "../../node_modules/bulma/bulma.sass"; 

//site styles
.pageTitle {
    font-family: $family-secondary;
    //padding-top: 2.5rem;
    font-size: 4rem;
    color: cyan!important;
}

.hero-foot {
    padding-bottom: 1rem;
}

@media only screen and (max-width: 500px) {
    .pageTitle {
      font-size: 2.5rem;
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }